absl-py==0.13.0
albumentations==1.0.3
astunparse==1.6.3
cachetools==4.2.2
certifi==2019.11.28
chardet==3.0.4
clang==5.0
cycler==0.10.0
Cython==0.29.24
dbus-python==1.2.16
decord==0.6.0
distro-info===0.23ubuntu1
easydict==1.9
flatbuffers==1.12
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.8.4
grpcio==1.40.0
h5py==3.1.0
idna==2.8
imageio==2.9.0
insightface==0.4.2
joblib==1.0.1
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
Markdown==3.3.4
matplotlib==3.4.3
mxnet-cu112==1.8.0.post0
networkx==2.6.3
#numpy==1.21.2
oauthlib==3.1.1
onnx==1.10.1
opencv-python-headless==4.5.3.56
opt-einsum==3.3.0
Pillow>=9.0.0
prettytable==2.2.0
protobuf==3.18.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyGObject==3.36.0
pyparsing==2.4.7
python-apt==2.0.0+ubuntu0.20.4.6
python-dateutil==2.8.2
PyWavelets==1.1.1
PyYAML==5.4.1
requests==2.22.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rsa==4.7.2
scikit-image==0.18.3
scikit-learn==0.24.2
scipy==1.7.1
six==1.15.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow>=2.6.1
tensorflow-estimator==2.6.0
termcolor==1.1.0
threadpoolctl==2.2.0
tifffile==2021.8.30
torchvision
tqdm==4.62.2
typing-extensions==3.7.4.3
urllib3>=1.26.5
wcwidth==0.2.5
Werkzeug==2.0.1
wrapt==1.12.1
